html,body {
    height: 100%;
    margin: 0;
}
body {
    font-family: "Press Start 2P", cursive;;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

canvas {
    border: 4px solid white;
}
#score{
    font-size: 20px;
}

#ten{
    color: white;
    font-size: 20px;
}

#max-score{
    color: white;
    font-size: 20px;
}