body {
  text-align: center;
  padding: 30px;
  background: black;
}

.eightbit-z {
  background: none;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-family: "Press Start 2P", cursive;
  width: 480px;
  text-decoration: none;
  color: cornsilk;
  top: -8px;
}
.eightbit-z:hover, .eightbit-z:focus {
  background: #262626;
}  

.eightbit-z--set {
 top: 63px;
}

.eightbit-btn {
  background: #92cd41;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-family: "Press Start 2P", cursive;
  width: 480px;
  text-decoration: none;
  color: black;
  box-shadow: inset -4px -4px 0px 0px #4aa52e;
}
.eightbit-btn:hover, .eightbit-btn:focus {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4aa52e;
}
.eightbit-btn:active {
  box-shadow: inset 4px 4px 0px 0px #4aa52e;
}
.eightbit-btn:before, .eightbit-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px white solid;
  border-bottom: 6px white solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px white solid;
  border-right: 6px white solid;
}
.eightbit-btn--map {
  top: 36px;
  background: #e76e55;
  box-shadow: inset -4px -4px 0px 0px #8c2022;
}
.eightbit-btn--map:hover, .eightbit-btn--map:focus {
  background: #ce372b;
  box-shadow: inset -6px -6px 0px 0px #8c2022;
}
/* .eightbit-btn--map:active {
  box-shadow: inset 4px 4px 0px 0px #8c2022;
} */
.eightbit-btn--level {
  background: #f7d51d;
  box-shadow: inset -4px -4px 0px 0px #e59400;
}
.eightbit-btn--level:hover, .eightbit-btn--level:focus {
  background: #f2c409;
  box-shadow: inset -6px -6px 0px 0px #e59400;
}
/* .eightbit-btn--level:active {
  box-shadow: inset 4px 4px 0px 0px #e59400;
} */
.eightbit-btn--high {
  background: #6495ED;
  box-shadow: inset -4px -4px 0px 0px #008B8B;
}
.eightbit-btn--high:hover, .eightbit-btn--high:focus {
  background: #483D8B;
  box-shadow: inset -6px -6px 0px 0px #008B8B;
}
/* .eightbit-btn--high:active {
  box-shadow: inset 4px 4px 0px 0px #008B8B;
} */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  border-top: 6px white solid;
  border-bottom: 6px white solid;
  font-family: "Press Start 2P", cursive;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0x rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content--map {
  top: 36px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#diemcao:hover, #diemcao:focus {
  background: #6495ED;
  box-shadow: inset -4px -4px 0px 0px #008B8B;
} 

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  text-shadow: 2px 2px black;
  font-size: 2.8rem;
  line-height: 3.4rem;
  color: cornsilk;
  font-family: "Press Start 2P", cursive;
}

hr {
  margin: 40px auto;
  max-width: 150px;
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

#myVideo {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  /* -webkit-filter: blur(6px); */
  min-width: 100%; 
  min-height: 100%
} 

select {
background-color: white;
font-family: "Press Start 2P", cursive;
color: black;
padding: 10px;
width: 480px;
border: none;
font-size: 20px;
box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
outline-style: inset;
outline-width: thin;
}

/* #display, #display1 {
display: none;
} */

.eightbit-btn--audio {
width: 78px;
margin-left: 666px;
position: absolute;
letter-spacing: -16px;
text-align: left;
}

img {
width: 100px;
margin-left: 548px;
position: absolute;
margin-top: -10px;
transition: transform .2s;
}

a :hover {
transform: scale(1.1);
}





